html{
    height: 100%;

}

body{

background-image: linear-gradient(to bottom, rgb(15, 15, 192) , rgb(143, 40, 226) , rgb(59, 55, 55));

}


.container{
    display: flex;

}

#envi{
        position: relative;
        top: 0px;
        left: 300px;
        height: 60px;
        width: 100px;
}

#Nota1{
        height:30px ;


}

#Nota2{
    height:30px ;


}

#Nota3{
    height:30px ;


}

#Nota4{
    height:30px ;


}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

input[type="number"] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid #ccc;
}

input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #45a049;
}

form{
    background-image: linear-gradient(to bottom  left,rgb(18, 140, 156), rgb(117, 30, 189) );
    width: 600px;
    
    position: relative;
    left: 470px;

}


h2{
    position: relative;
    text-align: center;
    

}


